/* div.block-container.css-91z34k.egzxvld4 */
div.block-container.css-12oz5g7.egzxvld2{
    background: #ffe6ff;
    border-end-end-radius: 25px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}
.css-po3vlj{
    background-color: #ffe6ff;
}


.css-1kyxreq{
    justify-content: center;
    }
